<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('接口测试')"></head>
<style>
	pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; height: 400px; }
	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: red; }
</style>
<body>
	<div id="zhLTE" class="container-fluid" v-cloak>
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">请求信息</div>
					<div class="panel-heading">
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 70px;">{{api.method}}<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a @click="methodSelect('GET')" href="javascript:;">GET</a></li>
									<li><a @click="methodSelect('POST')" href="javascript:;">POST</a></li>
								</ul>
							</div>
							<input v-model="urlPath" class="form-control" placeholder="请输入请求路径" />
							<div class="input-group-btn">
								<a v-if="hasPermission('sys:menu:save')" class="btn btn-primary" @click="request">&nbsp;请求</a>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						<h5>参数信息</h5>
						<div class="input-group-add">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">响应信息</div>
					<div class="panel-heading">
						响应耗时{{time}}ms,时间{{date}}
					</div>
					<pre id="result" >

					</pre>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/statics/js/base/tools/api.js}"></script>
</body>
</html>