package ${package}.${module}.dao;

import org.mybatis.spring.annotation.MapperScan;

import net.zhenghao.zh.common.dao.BaseMapper;
import ${package}.${module}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author:${author}
 * @Email :${email}
 * @date  :${datetime}
 * ${className}Mapper.java
 */
@MapperScan
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
	
}