<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('授权跳转页')"></head>
<body>
    <div th:include="include/footer_js::footer"></div>
    <script th:inline="javascript">

        $(function(){
            var path_login = /*[[@{/wechat/auth/login}]]*/;//登录地址
            var path_index = /*[[@{/wechat_web/index.html}]]*/;//首页地址
            var path_auth = /*[[@{/wechat/auth/redirectUrl}]]*/;//授权地址
            var openid = [[${openid}]];
            var redirect_url = store.get('redirect_url');//获取本地redirect_url
            var local_openid = store.get('openid');//获取本地redirect_url
            if(isNullOrEmpty(openid) && isNullOrEmpty(local_openid)) {
                //如果没有获取到openid就去重新授权
                indow.location.href = path_auth;
            }
            if(isNullOrEmpty(openid) && isNotNullOrEmpty(local_openid)) {
                openid = local_openid;
            }
            //登录
            $.ajax({
                type : "POST",
                url : path_login,
                data : {
                    openid : openid
                },
                cache: false,
                async: false,  // 与js同步
                dataType:"json",
                success:function(response){
                    if(response.code == 0) {
                        store.set('openid', openid);
                        store.set('token', response.token);
                        //如果本地没有jwt,则说明没有登录过
                        if(isNullOrEmpty(redirect_url)) {
                            //为空就定向到主页
                            window.location.href = path_index;
                        } else {
                            window.location.href = redirect_url;
                        }
                    } else {
                        window.location.href = path_auth;
                    }
                }
            });
        });
    </script>
</body>
</html>