<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('授权跳转页')"></head>
<body>
    <div th:include="include/footer_js::footer"></div>
    <script th:inline="javascript">

        $(function(){
            var openid = [[${openid}]];
            var redirect_url = store.get('redirect_url');//获取本地redirect_url

            wechat_login(openid);


            //如果本地没有jwt,则说明没有登录过
            /*if(isNullOrEmpty(jwt)) {

                //如果本地没有openid,则说明没有授权过
                if(isNullOrEmpty(openid)) {
                    //授权
                    wechat_auth();
                } else {
                    //有openid则说明授权过,则登录
                    wechat_login();
                }
            }*/

            //store.set('redirect_url', window.location.href);
        });

        alert(redirect_url);
    </script>
    <script type="text/javascript">
        var jwt = store.get('jwt');//获取本地jwt
        var openid = store.get('openid');//获取本地openid


        $(function(){



            //store.set('redirect_url', window.location.href);
        });

        //通过ajax请求后台，让后台请求微信授权页
        wechat_auth = function() {
            window.location.href = "../wechat/web/redirectUrl";
        }

        //通过ajax请求后台登录
        wechat_login = function(openid) {
            $.ajax({
                type : "POST",
                url : "../wechat/web/login",
                data : {
                    openid : openid
                },
                cache: false,
                async: false,  // 与js同步
                dataType:"json",
                success:function(response){
                    if(response.code == 0) {
                        alert(response.token);
                    } else {
                        alert(response.msg);
                    }
                }
            });
        }
    </script>
</body>
</html>