<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="ZH微信"></title>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <link rel="stylesheet" th:href="@{/statics/css/nprogress.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/default.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/style.css}"/>
</head>
<body>
    <div id="zh-wechat" v-cloak>
            <div id='ss_menu' style="z-index:10;">
                <div>
                    <i class="fa fa-qrcode" onclick="scanQRCode()"></i>
                </div>
                <div>
                    <i class="fa fa-wifi" onclick="getNetworkType()"></i>
                </div>
                <div>
                    <i class="fa fa-map-marker" onclick="getLocation()"></i>
                </div>
                <div>
                    <i class="fa fa-location-arrow" onclick="openLocation()"></i>
                </div>
                <div class='menu'>
                    <div class='share' id='ss_toggle' data-rot='180'>
                        <div class='circle'></div>
                        <div class='bar'></div>
                    </div>
                </div>
            </div>
        <div class="demo" style="z-index:5;">
            <div class="demo__close-menu"></div>
            <div class="demo__section demo__section-1" data-section="1">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">Contact</h2>
            </div>
            <div class="demo__section demo__section-2 active" data-section="2">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">个人中心</h2>
                <div class="container">
                    <header>
                        <div class="bio">
                            <img th:src="@{/statics/plugins/wechat/images/up.jpg}" alt="background" class="bg">
                            <div class="desc">
                                <h3>{{user.nickname}}</h3>
                                <p>ZH微信开发网页授权。</p>
                            </div>
                        </div>
                        <div class="avatarcontainer">
                            <img v-bind:src="user.headimgurl" alt="avatar" class="avatar">
                            <div class="hover">
                                <div class="fa fa-weixin"></div>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <div class="data">
                            <ul>
                                <li>
                                    国家
                                    <span>{{user.country}}</span>
                                </li>
                                <li>
                                    省份
                                    <span>{{user.province}}</span>
                                </li>
                                <li>
                                    城市
                                    <span>{{user.city}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="follow"><div class="fa fa-weixin"></div>   {{user.nickname}}</div>
                    </div>
                </div>
            </div>
            <div class="demo__section demo__section-3 inactive" data-section="3">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">Team</h2>
            </div>
            <div class="demo__section demo__section-4 inactive" data-section="4">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">Projects</h2>
            </div>
        </div>

    </div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/plugins/wechat/js/stopExecutionOnTimeout.js?t=1}"></script>
    <script th:src="@{http://res.wx.qq.com/open/js/jweixin-1.2.0.js}"></script>
    <script th:src="@{/statics/js/wechat_auth.js}"></script>
    <script type="text/javascript">
        var signUrl = location.href.split('#')[0];
        var let_this;
        var vm = new Vue({
            el : '#zh-wechat',
            data : {
                user : {
                    id : 0,
                    nickname : '',
                    sexString : '',
                    country : '',
                    province : '',
                    city : '',
                    headimgurl : '',
                }
            },
            beforeCreate: function(){
            },
            methods: {
                userInfo : function () {
                    var token = store.get('token');//获取本地jwt
                    $.ajax({
                        type : "POST",
                        url : "../wechat/web/user/info",
                        cache: false,
                        async: false,  // 与js同步
                        dataType:"json",
                        contentType : 'application/json',
                        beforeSend: function(request) {
                            request.setRequestHeader("token", token);
                        },
                        success:function(response){
                            if (response.code == 0) {
                                let_this.user = response.rows;
                            }
                        }
                    });
                }
            },
            created : function() {
                let_this = this;
                this.userInfo();
            }
        });

        $(document).ready(function () {
            var $demo = $('.demo');
            var numOfSections = $('.demo__section').length;
            $(document).on('click', '.demo__menu-btn', function () {
                $demo.addClass('menu-active');
            });
            $(document).on('click', '.demo__close-menu', function () {
                $demo.removeClass('menu-active');
            });
            $(document).on('click', '.demo.menu-active .demo__section', function () {
                var $section = $(this);
                var index = +$section.data('section');
                $('.demo__section.active').removeClass('active');
                $('.demo__section.inactive').removeClass('inactive');
                $section.addClass('active');
                $demo.removeClass('menu-active');
                for (var i = index + 1; i <= numOfSections; i++) {
                    if (window.CP.shouldStopExecution(1)) {
                        break;
                    }
                    $('.demo__section[data-section=' + i + ']').addClass('inactive');
                }
                window.CP.exitedLoop(1);
            });
        });

        $(document).ready(function (ev) {
            var toggle = $('#ss_toggle');
            var menu = $('#ss_menu');
            var rot;
            $('#ss_toggle').on('click', function (ev) {
                rot = parseInt($(this).data('rot')) - 180;
                menu.css('transform', 'rotate(' + rot + 'deg)');
                menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
                if (rot / 180 % 2 == 0) {
                    toggle.parent().addClass('ss_active');
                    toggle.addClass('close');
                } else {
                    toggle.parent().removeClass('ss_active');
                    toggle.removeClass('close');
                }
                $(this).data('rot', rot);
            });
            menu.on('transitionend webkitTransitionEnd oTransitionEnd', function () {
                if (rot / 180 % 2 == 0) {
                    $('#ss_menu div i').addClass('ss_animate');
                } else {
                    $('#ss_menu div i').removeClass('ss_animate');
                }
            });
        });

        $(function(){
            $.ajax({
                type:"POST",
                url: "../wechat/auth/jssdk",
                data:{'url':signUrl},
                dataType:'json',
                success:function(msg) {
                    console.log(msg)
                    wx.config({
                        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: msg.appId, // 必填，公众号的唯一标识
                        timestamp: msg.timestamp, // 必填，生成签名的时间戳
                        nonceStr: msg.noncestr, // 必填，生成签名的随机串
                        signature: msg.signature,// 必填，签名，见附录1
                        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareQZone',
                            'getNetworkType', 'getLocation', 'openLocation', 'scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    });
                    wx.ready(function(){
                        //分享朋友圈
                        wx.onMenuShareTimeline({
                            title: '分享朋友圈标题',
                            link: signUrl,
                            imgUrl: 'http://112.74.61.66:8080/zh-security/statics/images/loge.png',
                            success: function (res) {
                                alert('分享成功');
                            },
                            cancel: function (res) {
                                alert('你没有分享');
                            }
                        });
                        //分享给朋友
                        wx.onMenuShareAppMessage({
                            title: '分享QQ朋友测试标题', // 分享标题
                            desc: '分享QQ朋友描述', // 分享描述
                            link: signUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                            imgUrl: 'http://112.74.61.66:8080/zh-security/statics/images/loge.png', // 分享图标
                            type: '', // 分享类型,music、video或link，不填默认为link
                            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                            success: function () {
                                // 用户点击了分享后执行的回调函数
                            }
                        });
                        //分享到QQ
                        wx.onMenuShareQQ({
                            title: '分享QQ测试标题', // 分享标题
                            desc: '分享QQ描述', // 分享描述
                            link: signUrl, // 分享链接
                            imgUrl: 'http://112.74.61.66:8080/zh-security/statics/images/loge.png', // 分享图标
                            success: function () {
                                // 用户确认分享后执行的回调函数
                            },
                            cancel: function () {
                                // 用户取消分享后执行的回调函数
                            }
                        });
                        //分享到QQ空间
                        wx.onMenuShareQZone({
                            title: '分享QQ空间测试标题', // 分享标题
                            desc: '分享QQ空间描述', // 分享描述
                            link: signUrl, // 分享链接
                            imgUrl: 'http://112.74.61.66:8080/zh-security/statics/images/loge.png', // 分享图标
                            success: function () {
                                // 用户确认分享后执行的回调函数
                            },
                            cancel: function () {
                                // 用户取消分享后执行的回调函数
                            }
                        });
                    });
                },
                error:function(XMLHttpRequest, textStatus) {
                    if (XMLHttpRequest.status == 500) {
                        var result = eval("(" + XMLHttpRequest.responseText + ")");
                        showError(result.errorObject.errorText);
                        return false;
                    }
                }
            });
        });

        /**
         * 查看当前网络环境
         */
        function getNetworkType() {
            wx.getNetworkType({
                success: function (res) {
                    var networkType = res.networkType; // 返回网络类型2g，3g，4g，wifi
                    alert(networkType);
                }
            });
        }

        /**
         * 获取地理位置接口
         */
        function getLocation() {
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                }
            });
        }

        /**
         * 打开自带地图
         */
        function openLocation() {
            wx.openLocation({
                latitude: 31.11325,
                longitude: 121.38206,
                name: '测试地址',
                address: '上海市闵行区',
                scale: 14,
                infoUrl: 'http://weixin.qq.com'
            });
        }

        /**
         * 扫一扫
         */
        function scanQRCode() {
            wx.scanQRCode({
                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                }
            });
        }

    </script>
</body>
</html>