<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="ZH微信"></title>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <link rel="stylesheet" th:href="@{/statics/css/nprogress.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/default.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/statics/plugins/wechat/css/style.css}"/>
</head>
<body>
    <div id="zh-wechat" v-cloak>
            <div id='ss_menu' style="z-index:10;">
                <div>
                    <i class="fa fa-qq"></i>
                </div>
                <div>
                    <i class="fa fa-weibo"></i>
                </div>
                <div>
                    <i class="fa fa-weixin"></i>
                </div>
                <div>
                    <i class="fa fa-renren"></i>
                </div>
                <div class='menu'>
                    <div class='share' id='ss_toggle' data-rot='180'>
                        <div class='circle'></div>
                        <div class='bar'></div>
                    </div>
                </div>
            </div>
        <div class="demo" style="z-index:5;">
            <div class="demo__close-menu"></div>
            <div class="demo__section demo__section-1" data-section="1">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">Contact</h2>
            </div>
            <div class="demo__section demo__section-2 active" data-section="2">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">个人中心</h2>
                <div class="container">
                    <header>
                        <div class="bio">
                            <img th:src="@{/statics/plugins/wechat/images/up.jpg}" alt="background" class="bg">
                            <div class="desc">
                                <h3>{{user.nickname}}</h3>
                                <p>ZH微信开发网页授权。</p>
                            </div>
                        </div>
                        <div class="avatarcontainer">
                            <img v-bind:src="user.headimgurl" alt="avatar" class="avatar">
                            <div class="hover">
                                <div class="fa fa-weixin"></div>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <div class="data">
                            <ul>
                                <li>
                                    国家
                                    <span>{{user.country}}</span>
                                </li>
                                <li>
                                    省份
                                    <span>{{user.province}}</span>
                                </li>
                                <li>
                                    城市
                                    <span>{{user.city}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="follow"><div class="fa fa-weixin"></div>   {{user.nickname}}</div>
                    </div>
                </div>
            </div>
            <div class="demo__section demo__section-3 inactive" data-section="3">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">Team</h2>
            </div>
            <div class="demo__section demo__section-4 inactive" data-section="4">
                <div class="demo__menu-btn"></div>
                <h2 class="demo__section-heading">Projects</h2>
            </div>
        </div>

    </div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/plugins/wechat/js/stopExecutionOnTimeout.js?t=1}"></script>
    <script th:src="@{/statics/js/wechat_auth.js}"></script>
    <script type="text/javascript">
        var let_this;
        var vm = new Vue({
            el : '#zh-wechat',
            data : {
                user : {
                    id : 0,
                    nickname : '',
                    sexString : '',
                    country : '',
                    province : '',
                    city : '',
                    headimgurl : '',
                }
            },
            beforeCreate: function(){
            },
            methods: {
                userInfo : function () {
                    var token = store.get('token');//获取本地jwt
                    $.ajax({
                        type : "POST",
                        url : "../wechat/web/user/info",
                        cache: false,
                        async: false,  // 与js同步
                        dataType:"json",
                        contentType : 'application/json',
                        beforeSend: function(request) {
                            request.setRequestHeader("token", token);
                        },
                        success:function(response){
                            if (response.code == 0) {
                                let_this.user = response.rows;
                            }
                        }
                    });
                }
            },
            created : function() {
                let_this = this;
                this.userInfo();
            }
        });

        $(document).ready(function () {
            var $demo = $('.demo');
            var numOfSections = $('.demo__section').length;
            $(document).on('click', '.demo__menu-btn', function () {
                $demo.addClass('menu-active');
            });
            $(document).on('click', '.demo__close-menu', function () {
                $demo.removeClass('menu-active');
            });
            $(document).on('click', '.demo.menu-active .demo__section', function () {
                var $section = $(this);
                var index = +$section.data('section');
                $('.demo__section.active').removeClass('active');
                $('.demo__section.inactive').removeClass('inactive');
                $section.addClass('active');
                $demo.removeClass('menu-active');
                for (var i = index + 1; i <= numOfSections; i++) {
                    if (window.CP.shouldStopExecution(1)) {
                        break;
                    }
                    $('.demo__section[data-section=' + i + ']').addClass('inactive');
                }
                window.CP.exitedLoop(1);
            });
        });

        $(document).ready(function (ev) {
            var toggle = $('#ss_toggle');
            var menu = $('#ss_menu');
            var rot;
            $('#ss_toggle').on('click', function (ev) {
                rot = parseInt($(this).data('rot')) - 180;
                menu.css('transform', 'rotate(' + rot + 'deg)');
                menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
                if (rot / 180 % 2 == 0) {
                    toggle.parent().addClass('ss_active');
                    toggle.addClass('close');
                } else {
                    toggle.parent().removeClass('ss_active');
                    toggle.removeClass('close');
                }
                $(this).data('rot', rot);
            });
            menu.on('transitionend webkitTransitionEnd oTransitionEnd', function () {
                if (rot / 180 % 2 == 0) {
                    $('#ss_menu div i').addClass('ss_animate');
                } else {
                    $('#ss_menu div i').removeClass('ss_animate');
                }
            });
        });

    </script>
</body>
</html>