<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('编辑-文件管理')"></head>
<body>
	<div id="zhLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<!--<tr>
	            <td class="formTitle">对应文档id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="对应文档id" v-model="sysFile.docId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>-->
			<tr>
	            <td class="formTitle">修改文件名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="文件展示名（原文件名）" v-model="sysFile.fileShow" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
    <div th:include="include/footer_js::footer"></div>
    <script th:src="@{/statics/js/base/file/edit.js}"></script>
</body>
</html>