<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('微信菜单')"></head>
<body>
	<div id="zhLTE" class="container-fluid" v-cloak>
		<div class="row">
			<div class="col-md-6">
				<div class="btm-toolbar">
					<div class="btn-group">
						<a class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
						<a v-if="hasPermission('wechat:menu:save')" class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
						<a v-if="hasPermission('wechat:menu:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
						<a v-if="hasPermission('wechat:menu:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="btm-toolbar pull-right">
					<button v-if="hasPermission('wechat:menu:submit')"  type="button" class="btn btn-primary" @click="submitMenu">提交微信菜单</button>
					<button v-if="hasPermission('wechat:menu:delete')"  type="button" class="btn btn-danger" @click="deleteMenu">删除微信菜单</button>
				</div>
			</div>
		</div>
		<div class="row">
			<table id="dataGrid"></table>
		</div>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/statics/js/base/wechat/menu_list.js}"></script>
</body>
</html>