<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('我的公众号')"></head>
<link rel="stylesheet" th:href="@{/statics/css/desktop-panel.css}"/>
<style>
	.panel-body{
		padding:15px;
	}
</style>
<body>
	<div id="zhLTE" class="container-fluid" v-cloak>
		<div class="row">
			<div class="col-xs-12 col-sm-12" >
				<div class="desktop-panel">
					<div class="desktop-panel-head">
						<h3 class="desktop-panel-title">基本信息</h3>
						<div v-if="error" class="alert alert-danger alert-dismissible">
							<i class="fa fa-exclamation-triangle"></i> {{errorMsg}}
						</div>
					</div>
					<div class="desktop-panel-body">
						<ul class="desktop-data-list">
							<li class="desktop-data-overview">
								<span class="desktop-panel-title">新消息</span>
								<em class="desktop-data-overview-desc"><a href="/cgi-bin/message?t=message/list&amp;count=20&amp;day=7&amp;token=1375681054&amp;lang=zh_CN">0</a></em>
							</li>
							<li class="desktop-data-overview">
								<span class="desktop-panel-title">新增人数</span>
								<em class="desktop-data-overview-desc"><a href="user_list.html?time=1">{{newuser}}</a></em>
							</li>
							<li class="desktop-data-overview">
								<span class="desktop-panel-title">总用户数</span>
								<em class="desktop-data-overview-desc"><a href="user_list.html">{{alluser}}</a></em>
							</li>
						</ul>
					</div>
				</div>
				<div class="desktop-panel">
					<div class="desktop-home-notice">
						<div class="desktop-home-notice-title">
							<a href="/cgi-bin/announce?action=getannouncement&amp;announce_id=11518228081c7A0o&amp;version=&amp;lang=zh_CN" target="_blank" class="desktop-home-notice-title">公众号注册数量调整</a>
						</div>
						<div class="desktop-home-notice-extra">
							<em class="desktop-home-notice-date">2018-02-10</em>
							<a href="/cgi-bin/announcement?t=home/notice&amp;token=610219612&amp;lang=zh_CN" target="_blank" class="desktop-home-notice-readmore">更多</a>
						</div>
					</div>
				</div>
				<div class="desktop-panel">
					<div class="desktop-panel-head">
						<h3 class="desktop-panel-title">配置管理</h3>
					</div>
					<div class="desktop-panel-body">
						<div class="panel panel-default" id="wechat_info">
							<div class="panel-heading">配置信息<a href="javascript:void(0);" @click="wechatInfoEdit" style="text-decoration: none;color: #459ae9;">修改</a></div>
							<div class="panel-body">
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">appID</label>
									<div class="frm_controls">
										<span class="frm_input_box">{{wechatConfig.appId}}</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">appsecret</label>
									<div class="frm_controls">
										<span class="frm_input_box">{{wechatConfig.appsecret}}</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">Token</label>
									<div class="frm_controls">
										<span class="frm_input_box">{{wechatConfig.token}}</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">EncodingAESKey</label>
									<div class="frm_controls">
										<span class="frm_input_box">{{wechatConfig.encodingAesKey}}</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">授权回调页面域名</label>
									<div class="frm_controls">
										<span class="frm_input_box">{{wechatConfig.redirectUri}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="wechat_info_edit" style="display: none;">
							<div class="panel-heading">配置信息</div>
							<div class="panel-body">
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">appID</label>
									<div class="frm_controls">
										<span class="frm_input_box">
											<input type="text" v-model="wechatConfig.appId" class="form-control" placeholder="请输入appID" style="width: 300px;" isvalid="yes" checkexpession="NotNull"/>
										</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">appsecret</label>
									<div class="frm_controls">
										<span class="frm_input_box">
											<input type="text" v-model="wechatConfig.appsecret" class="form-control" placeholder="请输入appsecret" style="width: 300px;" isvalid="yes" checkexpession="NotNull"/>
										</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">Token</label>
									<div class="frm_controls">
										<span class="frm_input_box">
											<input type="text" v-model="wechatConfig.token" class="form-control" placeholder="Token" style="width: 300px;" isvalid="yes" checkexpession="NotNull"/>
										</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">EncodingAESKey</label>
									<div class="frm_controls">
										<span class="frm_input_box">
											<input type="text" v-model="wechatConfig.encodingAesKey" class="form-control" placeholder="EncodingAESKey" style="width: 300px;"/>
										</span>
									</div>
								</div>
								<div class="frm_control_group show_value info_item">
									<label class="frm_label">授权回调页面域名</label>
									<div class="frm_controls">
										<span class="frm_input_box">
											<input type="text" v-model="wechatConfig.redirectUri" class="form-control" placeholder="包括http://或https://，域名能指向项目名" style="width: 300px;"/>
										</span>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<a v-if="hasPermission('wechat:config:save')" class="btn btn-primary" @click="wechatInfoSubmit">&nbsp;提交</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/statics/js/base/wechat/wechat.js}"></script>
</body>
</html>