<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhenghao.zh.wechat.dao.WechatConfigMapper">

	<!--这里开始是主要调用的sql-->
	<insert id="saveOrUpdate">
		INSERT INTO wechat_config (
		`id`,
		`app_id`,
		`appsecret`,
		`token`,
		`encoding_aes_key`,
		`redirect_uri`,
		`user_id_create`,
		`gmt_create`
		)
		VALUES (
		1,
		#{appId},
		#{appsecret},
		#{token},
		#{encodingAesKey},
		#{redirectUri},
		#{userIdCreate},
		NOW()
		)
		ON DUPLICATE KEY UPDATE
        `id` = 1,
		<if test="appId != null">`app_id` = #{appId}, </if>
		<if test="appsecret != null">`appsecret` = #{appsecret}, </if>
		<if test="token != null">`token` = #{token}, </if>
		<if test="encodingAesKey != null">`encoding_aes_key` = #{encodingAesKey}, </if>
		<if test="redirectUri != null">`redirect_uri` = #{redirectUri}, </if>
        `gmt_modified` = NOW()
	</insert>

	<select id="getWechatConfig" resultType="WechatConfigEntity">
		SELECT
		`id`,
		`app_id`,
		`appsecret`,
		`token`,
		`encoding_aes_key`,
		`redirect_uri`,
		`user_id_create`,
		`gmt_create`,
		`gmt_modified`
		FROM
		wechat_config
		WHERE
		id = 1
	</select>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
</mapper>