<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhenghao.zh.file.dao.SysFileMapper">

	<select id="listForPage" resultType="SysFileEntity" flushCache="true">
		SELECT
			`file_id`, 
			`doc_id`, 
			`file_md`, 
			`file_type`, 
			`file_show`, 
			`file_name`, 
			`file_path`, 
			`file_size`, 
			`file_size_format`, 
			`file_ext`, 
			`file_ip`, 
			`file_address`, 
			`upload_type`, 
			`remark`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`
		FROM
			sys_file
		<where>
			<if test=" fileType != null and fileType != '' ">
				file_type = #{fileType}
			</if>
			<if test="userIdCreate != null">
				and user_id_create = #{userIdCreate} 
			</if>
			<if test="fileShow != null and fileShow.trim() != ''">
				AND file_show LIKE concat('%',#{fileShow},'%') 
			</if>
		</where>
		ORDER BY
			gmt_create DESC
	</select>
	
	<insert id="save">
		INSERT INTO sys_file (
			`doc_id`, 
			`file_md`, 
			`file_type`, 
			`file_show`, 
			`file_name`, 
			`file_path`, 
			`file_size`, 
			`file_size_format`, 
			`file_ext`, 
			`file_ip`, 
			`file_address`, 
			`upload_type`, 
			`remark`, 
			`user_id_create`, 
			`gmt_create`
		)
		VALUES (
			#{docId}, 
			#{fileMd}, 
			#{fileType}, 
			#{fileShow}, 
			#{fileName}, 
			#{filePath}, 
			#{fileSize}, 
			#{fileSizeFormat}, 
			#{fileExt}, 
			#{fileIp}, 
			#{fileAddress}, 
			#{uploadType}, 
			#{remark}, 
			#{userIdCreate}, 
			NOW()
		)
	</insert>
	
	<select id="getObjectById" resultType="SysFileEntity">
		SELECT
			`file_id`, 
			`doc_id`, 
			`file_md`, 
			`file_type`, 
			`file_show`, 
			`file_name`, 
			`file_path`, 
			`file_size`, 
			`file_size_format`, 
			`file_ext`, 
			`file_ip`, 
			`file_address`, 
			`upload_type`, 
			`remark`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`
		FROM
			sys_file
		WHERE
			file_id = #{fileId}
	</select>
	
	<!-- 根据文件md查询是否有重复，做秒传用 -->
	<select id="getSysFileByMd" resultType="SysFileEntity">
		SELECT
			`file_id`, 
			`doc_id`, 
			`file_md`, 
			`file_type`, 
			`file_show`, 
			`file_name`, 
			`file_path`, 
			`file_size`,  
			`file_size_format`, 
			`file_ext`, 
			`file_ip`, 
			`file_address`, 
			`upload_type`, 
			`remark`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`
		FROM
			sys_file
		WHERE
			file_md = #{fileMd}
		LIMIT 0,1
	</select>
	
	<update id="update">
		UPDATE sys_file
	 	<set>
			<if test="fileMd != null">`file_md` = #{fileMd}, </if>
			<if test="fileType != null">`file_type` = #{fileType}, </if>
			<if test="fileShow != null">`file_show` = #{fileShow}, </if>
			<if test="fileName != null">`file_name` = #{fileName}, </if>
			<if test="filePath != null">`file_path` = #{filePath}, </if>
			<if test="fileSize != null">`file_size` = #{fileSize}, </if>
			<if test="fileSizeFormat != null">`file_size_format` = #{fileSizeFormat}, </if>
			<if test="fileExt != null">`file_ext` = #{fileExt}, </if>
			<if test="fileIp != null">`file_ip` = #{fileIp}, </if>
			<if test="fileAddress != null">`file_address` = #{fileAddress}, </if>
			<if test="uploadType != null">`upload_type` = #{uploadType}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			gmt_modified = NOW()
		</set>
		WHERE
			file_id = #{fileId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_file
		WHERE
			file_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<update id="updateFileStatus">
		UPDATE sys_file
		SET
			file_type = #{fileType}
		WHERE
			file_id IN
		<foreach item="fileId" collection="id" open="(" separator="," close=")">
			#{fileId}
		</foreach> 
	</update>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
</mapper>